// .follow_button {
//     border: 1px solid var(--submit-button-primary-color);
//     color: var(--submit-button-primary-color);
// }

// .follow_button:hover {
//     background-color: var(--submit-button-primary-color);
//     color: var(--submit-button-secondary-color);
// }

// .follow_button.non_visible {
//     display: none;
// }