@import '../../styles/common.scss';

.login{
    .form_input{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        gap: 20px;
    
        @include screen() {
            padding-top: 0;
            height: auto;
        }

        .redirect_object {
            display: flex;
            color: var(--main-text-color);
            
            font-size: 12px;
            margin-top: -8px;
            
            a {
                font-weight: bold;
                margin-left: 5px;
            }
            
            a:hover{
                text-decoration: underline;
            }
        }
    }
    .primary_button {
        width: 100%;
    }
}
