@import '../../styles/common.scss';

.article_topic {        
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0px 10px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;

        .article_topic_right_side {
            margin-top: 12px;
            flex-basis: 100%
        }

        .article_topic_share {
            margin-left: auto;
        }
    }

    &_right_side {
        display: flex;
        gap: 0 10px;
        align-items: center;
    }

    .author {
        margin-right: auto;

        &_info {
            overflow: hidden;
        }

        &_avatar {
            min-height: 24px;
            min-width: 24px;
        }
    }

    .category {
        height: 100%;
        padding: 8px 12px;
        border-radius: 8px;
        color: var(--article-topic-category-color);
        background-color: var(--article-topic-category-background-color);
        font-size: 14px;

        a{
            height: 100%;
            width: 100%;
        }
    }

    .category:hover {
        color: var(--article-topic-category-hover-color);
        background-color: var(--article-topic-category-background-hover-color);
    }

    &_button {
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        color: var(--article-topic-button-color);
        cursor: pointer;

        @include screen() {
            width: 16px;
            height: 16px;
        }

        svg {
            height: 100%;
            width: auto;
            flex-basis: 100%;
            @include use-transition();
            
            *[fill] {
                fill: currentColor;
            }

            *[stroke] {
                stroke: currentColor;
            }
        }
    }
    
    &_button:hover {
        color: var(--article-topic-button-hover-color)
    }

    &_date {
        color: var(--article-date-color);
        font-weight: 500;
        display: block;

        @include screen(){
            font-size: 14px;
        }
    }
}