.posts_filters {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .post_filter_separator {
        padding: 0;
        border-right: 1px solid var(--line-color);
        width: 0;
        background-color: transparent;
    }
}