@import '../../styles/common.scss';

.form_input{
    .drop_file{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;

        @include screen() {
            width: 120px;
            height: 120px;
        }

        .remove_image {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: 5px;
            background-color: var(--sticky-button-background-color);
            border: 1px solid var(--line-color);
            
            p {
                display: none;
            }

            .remove_image_button {
                cursor: pointer;
                padding: 6px 8px;
    
                svg{
                    color: red;
                    height: 12px;
                    width: 12px;
                    
                    @include screen() {
                        color: red;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }

        &_info {
            gap: 6px;
            width: 100%;
            height: 100%;
            justify-content: flex-end;

            @include screen() {
                gap: 4px;
            }

            &_avatar_icon {
                height: 70%;
                width: 70%;
                color: var(--avatar-icon-color);
            }

            &_upload_icon {
                width: 40px;
                height: 40px;

                @include screen() {
                    height: 35px;
                    width: 35px;
                }
            }

            &_main_text {
                display: none;
            }

            &_help_text {
                font-size: 12px;
                text-align: center;

                @include screen() {
                    font-size: 10px;
                }
            }

            &_select {
                display: none;
            }
        }
    }

    .image_input {
        border-radius: 50%;
    }

    .form_input_description{
        margin-bottom: 20px;
    }

    .drop_file_error_messages {
        margin-bottom: 20px;
    }

    .otp_container {
        &_title_email {
            font-weight: 600;
        }

        &_content{
            display: flex;
            gap: 10px;
            text-align: center;
            .input_field_label_error_message {
                display: none;
            }
    
            .input_field, .incorrect_field {
                padding: 12px;
                text-align: center;
    
            }
        }
    }
}