@import '../../styles/helpers.scss';

.article {
    &_title{
        font-size: 36px;
        line-height: 1.2;
        color: var(--post-text-color);

        @include screen() {
            font-size: 24px;
        }
    }

    .article_topic {
        margin-top: 64px;

        @include screen() {
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    &_featured_image{
        width: 100%;
        margin-top: 18px;

        @include screen() {
            width: auto;
            margin-top: 10px;
            margin-left: calc(0px - var(--container-padding));
            margin-right: calc(0px - var(--container-padding));
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: scale-down;
            user-select: none;
            border-radius: 8px;
            
            @include  screen() {
                object-fit: contain;
                margin-top: 18px;
            }
        }

    }

    &_content{
        font-size: 18px;
        margin-top: 36px;
        color: var(--post-text-color);
        white-space: pre-wrap;

        img{
            width: 100%;
        }

        a{
            color: var(--link-text-color);
        }

        @include screen(){
            font-size: 14px;
            line-height: 1.4;
            margin-top: 16px;
        }
    }
}