@import "../../styles/helpers.scss";

.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: visible;

    &_info{
        &_top{
            display: flex;
    
            &_avatar {
                width: 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 50%;
                flex-shrink: 0;
                
                @include screen() {
                    width: 45px;
                    height: 45px;
                    margin-bottom: auto;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                
            }

            &_right_side {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                align-self: flex-start;
                
                @include screen() {
                    flex-direction: column;
                    max-height: 45px;
                    margin-left: auto;
                    width: auto;

                    .chip_button{
                        font-size: 12px;
                        padding: 6px 12px;
                    }

                    .action_button{
                        margin-left: auto;
                        margin-top: 30px;
                        padding: 8px 16px;
                        font-size: 12px;
                    }
                }

                &_elements {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    @include screen() {
                        gap: 10px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    
        &_bottom {
            &_nick {
                display: flex;
                margin-top: 20px;
                align-items: center;
                gap: 10px;
                
                @include screen() {
                    gap: 6px;
                    margin-top: 10px;
                }
                
                &_name  {
                    font-size: 28px;
                    font-weight: 600;
                    
                    @include screen(){
                        font-size: 20px;
                    }

                    &_admin {
                        text-shadow: 0 0 16px var(--red-f1);
                        color: var(--administrator-color);
                    }
                }
                

                &_verified{
                    width: 24px;
                    height: 24px;
                    
                    @include screen() {
                        width: 18px;
                        height: 18px;
                    }
                }
                
            }

            &_administrator {
                margin-top: 6px;
                p {
                    font-size: 14px;
                    color: var(--administrator-color);
                    text-shadow: 0 0 16px var(--red-f1);

                    @include screen() {
                        font-size: 12px;
                    }
                }
            }

            &_email{
                margin-top: 10px;

                p {
                    font-size: 20px;

                    @include screen() {
                        font-size: 12px;
                    }
                }
            }

            &_description {
                margin-top: 10px;

                p {
                    font-size: 16px;

                    @include screen() {
                        font-size: 10px;
                    }
                }
            }

            &_registration_date {
                margin-top: 10px;
                display: flex;
                align-items: center;

                p {
                    margin-left: 4px;
                    color: var(--light-text-color);
                    font-size: 16px;
                    
                    @include screen(){
                        font-size: 10px;
                    }
                }

                svg {
                    color: var(--light-text-color);
                    height: 14px;
                }
            }
        }
    }
    
    &_tab_list {
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--line-color);
        margin: 20px 0;
        padding: 10px 0;

        @include screen() {
            margin-top: 20px;
        }

        p {
            font-size: 14px;
        }

        *{
            cursor: pointer;
        }

        &_active{
            p {
                font-weight: bold;
            }
        }
    }
    
    .profile_tab_list > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}

.modal_window {
    &_body{
        &_content {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            
            &_user {
                display: flex;
                width: 100%;
                justify-content: space-between;
                
                .follow_button {
                    padding: 6px 12px;
                    font-size: 12px;
                    border-radius: 8px;
                }
            }
            
        }
    }
}