@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./helpers.scss";

* {
    box-sizing: border-box;
}

:root {
    --container-padding: 60px;
    
    @include screen() {
        --container-padding: 16px;
    }
}

html, body {
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

body.no-scroll {
    position: fixed;
    width: 100%;
}

p, h1, h2, h3, h4 ,h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

p, h1, h2, h3, h4 ,h5, h6, .app-transition {
    @include use-transition();
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.submit_button:hover {
    background-color: var(--submit-button-primary-color);
    color: var(--submit-button-secondary-color)
}

.blurred {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.container {
    width: 100%;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--main-background);
    transition: background-color .3s ease;
}

img, svg {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

textarea:focus-visible{
    outline: none;
}

.App:not(.App_dark) .header_go_home img {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
}

.not_allowed {
    cursor: not-allowed;
    user-select: none;
    
    *{
        cursor: not-allowed;
        user-select: none;
    }
}

.verified-icon {
    color: var(--verified-icon-color);
}