@mixin use-transition() {
      transition:
        background-color 0.3s ease,
        background 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

@mixin screen($size : 'sm') {
    @media screen and (max-width: 768px) {
        @content;
    }
}