@import "../../../styles/helpers.scss";

.text_editor{
    &_body {
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid var(--input-outline-color);

        &_top_side{
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid var(--input-outline-color);
            padding: 8px;

            @include screen() {
                flex-direction: column;
                gap: 8px;
            }


            &_toolbar {
                display: flex;
                align-items: center;
                gap: 6px;
            
                @include screen() {
                    justify-content: space-between;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    color: var(--text-editor-toolbar-item-color);
                    font-size: 14px;
                    width: 40px;
                    height: 40px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                button:hover {
                    background: var(--text-editor-toolbar-item-hover-background);
                }

                &_bold {
                    font-weight: 800;
                }
            }
        }
        
        &_input {
            padding: 18px;
            line-height: 1.12;
            min-height: calc(1.12em * 12);
            
            p, span,strong {
                color: var(--input-text-color);
            }

            .text_editor_link {
                color: var(--link-text-color);
            }
        }

        &_input:focus-visible {
            outline: none;
        }
    }
}
.text_editor_body:has(.text_editor_body_input:focus) {
    border: 1px solid var(--input-outline-active-color);
}
