.loader {
  position: relative;
  width: 80px;
  height: 80px;

  color: var(--loader-color)
}

.loader-segment {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6%;
  height: 22%;

  background: currentColor;
  border-radius: 999px;

  /* СТАТИЧНАЯ геометрия */
  transform:
    translate(-50%, -50%)
    rotate(calc(-360deg / var(--segments) * var(--i)))
    translateY(-140%);

  opacity: 0.2;

  animation: fade 0.8s linear infinite;
  animation-delay: calc(-0.8s / var(--segments) * var(--i));
}

@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.2; }
}
