@import "../../styles/helpers.scss";
@import '../../styles/common.scss';

.input_field_label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 28px;
    
    .input {
        display: flex;
        flex-direction: column;
        
        span {
            color: var(--input-text-color);
            transition: .3s;
            font-size: 16px;
            margin-bottom: 8px;
            font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
        }

        .description {
           height: auto;
        }

        .input_wrapper {
            position: relative;
            width: 100%;
        }
        .inpuut_confirmed_icon {
            position: absolute;
            color: #057905;
            right: 12px;
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    .input_field {
        font-size: 16px;
        padding: 8px 0;
        width: 100%;
        padding: 12px;
        background-color: transparent;
        border: 1px solid var(--input-outline-color);
        border-radius: 8px;
        color: var(--input-text-color);
        font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
        resize: none;
    }

    .input_field:focus {
        border: 1px solid var(--input-outline-active-color);
    }

    .input_field.confirmed{
        border: 1px solid var(--input-outline-color);
        //pointer-events: none;
        //cursor: not-allowed;
    }

    .input_field::placeholder {
        font-size: 16px;
        color: var(--input-placeholder-color);
        transition: .3s;
    }

    &_error_message {
        display: flex;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: .3s ease;
        transform: translateY(10px);

        p {
            color: red;
            font-size: 14px;
        }

        &_logo {
            height: 16px;
            width: 160x;
            min-height: 16px;
            margin-right: 5px;
            max-width: 16px;
            color: red;
        }
    }

    &_error_message.show {
        opacity: 1;
        visibility: visible;
        height: 54px;

        @include screen() {
            height: 38px;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.incorrect_field {
    border: 1px solid red !important;
    box-shadow: 0 0 10px rgb(255 0 0 / 50%);
}

input:focus {
    outline: none;
}

.form_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    @include screen() {
        padding-top: 0;
        height: auto;
    }

    .submit_button {
        width: 100%;
        padding: 12px 14px;
        font-size: 16px;
        color: var(--submit-button-secondary-color);
        background-color: var(--submit-button-primary-color);
        border-radius: 8px;
        
        @include screen() {
            font-size: 14px;
            margin-top: 30px;
        }
    }
    
    .submit_button:hover {
        background-color: var(--submit-button-primary-hover-color);
    }

    .redirect_object {
        display: flex;
        color: var(--main-text-color);
        
        font-size: 12px;
        margin-top: 10px;
        
        a {
            font-weight: bold;
            margin-left: 5px;
        }
        
        a:hover{
            text-decoration: underline;
        }
    }
}