@use "../../styles/helpers" as *;

.app-shell {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100%;
    min-height: 100dvh;
    min-width: 0;

    &_main {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        max-width: 100%;
        min-height: 100dvh;

        @include screen() {
            height: 100dvh;
            max-height: 100dvh;
            overflow: hidden;
        }

        > .header {
            flex-shrink: 0;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
        min-width: 0;
        max-width: 100%;
        overflow-x: clip;
        padding-top: 20px;

        @include screen() {
            overflow-x: hidden;
            overflow-y: auto;
            padding-top: 20px;
            padding-bottom: 70px;

            &:has(.messages_page) {
                overflow: hidden;
            }
        }
    }
}
