.drop_file{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--drop-file-border-color);
    background-color: var(--drop-file-background-color);
    border-width: 2px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;

    .remove_image {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 20px;
        background-color: var(--submit-button-secondary-color);
        border: 1px solid var(--line-color);
        border-radius: 8px;
        
        .remove_image_button {
            cursor: pointer;

            svg{
                color: var(--red-f5);
                height: 20px;
            }
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .add_image {
        width: 100%;
        height: 100%;

        button {
            width: 100%;
            height: 100%;
        }
    }

    .image_input {
        position: absolute;
        z-index: 10;
        font-size: 0;
        flex: 1;
        opacity: 0;
        width: 100%;
        height: 100%;     
        cursor: pointer;
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_upload_icon {
            color: var(--drop-file-border-color);
        }
        
        &_main_text {
            margin-top: 10px;
            color: var(--main-text-color);
        }

        &_help_text {
            font-size: 14px;
            color: var(--light-text-color);
        }

        &_select {
            color: var(--blue-button-primary-color);
            border: 1px solid var(--blue-button-primary-color);
            padding: 6px 16px;
            border-radius: 6px;
            margin-top: 16px;
            font-size: 12px;
        }
    }
}

.drop_file:focus-visible{
    outline: none;
}

.drop_file_dragged, .drop_file:hover{
    border: 1px dashed var(--drop-file-hover-border-color);
    border-width: 2px;
    background: var(--drop-file-hover-background-color);
}

.drop_file_incorrect_field:hover {
    border: 1px dashed var(--red-f5);
    border-width: 2px;
    background: var(--drop-file-hover-background-color);
}

.drop_file_incorrect_field {
    border: 1px dashed var(--red-f5);
    border-width: 2px;
    box-shadow: 0 0 20px rgb(255 0 0 / 50%);
}

.drop_file_error_messages {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: .3s ease;
    transform: translateY(10px);
}

.drop_file_error_messages.show {
    display: flex;
    opacity: 1;
    visibility: visible;
    height: 54px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
    .drop_file_error_message {
        display: flex;
    }
    
    .drop_file_error_message_logo {
        height: 16px;
        width: 160x;
        min-height: 16px;
        margin-right: 5px;
        max-width: 16px;
        color: red;
    }

    p {
        text-align: center;
        color: red;
        font-size: 14px;
    }
}
