@import '../../styles/helpers.scss';

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-background);
    z-index: 10;
    box-shadow: 0 0 10px 1px rgba(0,0,0, .3);

    &_content {
      display: flex;
      justify-content: center; 
      align-items: center;
      height: 80px; 
      position: relative;

      @include screen() {
        height: 60px;
      }
    }
    
    &_main_logo {
      display: flex;
      display: none;

      @include screen {
        display: none;
      }

      .header-icon {
        color: var(--header-button-color);
        height: 30px;

        path{
          fill: currentColor;
        }

      }
    }

    &_side {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      
      .header_item{
        display: flex;
        height: 24px;
        width: 24px;
        transition: .2s ease-out;

        svg {
          color: var(--header-button-color);
          width: 100%;
          height: 100%;
          object-fit: cover;
  
          *[fill] {
            fill: currentColor;
          }
        }

        svg:hover{
          color: var(--header-button-hover-color);
          cursor: pointer;
        }  
      }

      .header_item:active {
        transform: scale(.8);
        transition: .2s ease-out;
      }

      &.header_left_side {
        left: 0;
      }

      &.header_right_side {
        display: flex;
        justify-content: center;
        gap: 20px;
        right: 0;

        .header_notification {
          &_new {
            position: fixed;

            &_circle {
              background-color: red;
              height: 4px;
              width: 4px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    &_profile_author {
      display: flex;

      .author_info{
        margin-left: 4px;

        &_name {
          font-size: 16px;
          color: var(--header-button-color);

          @include screen() {
            font-size: 14px;
          }
        }

        &_name:hover {
          color: var(--header-button-hover-color);
        }

        &_verified {
          display: none;
        }
      }
    }
}

.modal_window_body {
  width: 500px;
  max-width: 500px;

  &_content{
    @include screen() {
      padding: 10px !important;
      gap: 20px !important;
    }

    &_notification {
      display: flex;
      flex-direction: column;
      
      .follow_button {
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 8px;
        grid-row: 1;
        align-self: start;
        align-self: center;
        justify-self: flex-end;
      }

      .author {
        grid-row: 1;
      }

      &_new {
        display: flex;
        align-items: center;
        
        &_circle{
          margin-right: 10px;
          background-color: red;
          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }

      &_message {
        margin-top: 4px;
        font-size: 14px;
        align-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include screen() {
          grid-column: 1 / span 2;
          white-space: normal;
          font-size: 14px;
        }
      }

      &_time {
        font-size: 12px;
        white-space: nowrap;
        color: var(--light-text-color);
        align-content: center;
        margin-left: auto;
        margin-left: 0;
        grid-row: 3;

        @include screen() {
          grid-column: 1;
          font-size: 10px;
        }
      }
    }
  }
}