@import "../../styles/helpers.scss";

.banner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 28px;

    &_content{
        display: flex;
        flex-direction: column;
        
        @include screen() {
            gap: 20px;
        }

        
        &_title {
            display: flex;
            align-items: flex-end;
            
            h1 { 
                display: flex;
                flex-direction: column;
                line-height: 0.85;
                color: var(--main-text-color);
                font-size: 38px;
                
                @include screen() {
                    font-size: 34PX;
                }
            }
            
            &_logo {
                width: 152px;
                height: 32px;
                fill: none;

                path {
                    stroke: var(--main-text-color);
                    stroke-width: 4px;
            
                    stroke-dasharray: 520;
                    stroke-dashoffset: 520;
            
                    animation:
                    banner-stroke 1.8s linear forwards,
                    banner-fill 0.5s ease forwards 1.6s;
                    transition: .3s;
            
                    @include screen() {
                        height: 28px;
                    }
                }
            }
        }
        
        &_text {
            max-width: 80%;
            margin-top: 10px;
    
            @include screen() {
                margin: 0;
            }
        }
    
        &_actions {
            margin-top: auto;
            display: flex;
            gap: 14px;

            .chip_button{
                border-radius: 50px;
            }
        }
    }


    &_image {
        width: 50%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
        position: relative;
        z-index: 1;

        
        @include screen() {
            display: none;
        }
    }
}

@keyframes banner-stroke {
    from {
        stroke-dashoffset: 520;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes banner-fill {
    from {
        fill: transparent;
    }
    to {
        fill: currentColor;
    }
}